streamlit @ file:///C:/b/abs_84p_54gim8/croot/streamlit_1724335176234/work
langchain==1.2.7
langchain-community==0.4.1
langchain-core==1.2.7
chromadb==1.4.1
langchain-chroma==1.1.0
zhipuai==2.1.5.20250825
pypdf==6.6.0
python-dotenv @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dotenv_1699475097728/work
tiktoken==0.12.0

